:root {

}

body {
    margin: 0;
    padding: 0;
}

div, section {
    border: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.projects-panel, .todos-panel, .todos-list{
    display: flex;
    flex-direction: column;
}

.todo {
    width: auto;

    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
}