:root {
    --default-font:  Ubuntu, monospace, Arial;
    --default-font-size: 16px;
    --btn-font-size: 12px;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--default-font);
    font-size: var(--default-font-size);
}

button, input {
    font-family: var(--default-font);
    font-size: var(--btn-font-size);
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;

    height: 100vh;
}


/* Projects */
.proj-panel {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 20px 5%;
}

.def-proj-list {
    display: flex;
    flex-direction: column;
}

.proj {
    display: grid;
    grid-template-columns: 1fr 30px 30px;

    height: 30px;
}

.proj-form-title {
    box-sizing: border-box;
    width: 100%;

    outline: none;
    border: none;
    border-bottom: 3px solid black;
}


.proj-btn {
    background-color: unset;
    border: 1px solid black;
}

.def-btn, .proj-new-btn {
    height: 30px;
}


/* Todos  */
.todo-panel {
    border: 1px solid black;
    padding: 20px 5%;

    display: flex;
    flex-direction: column;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;

    width: 100%;
    height: auto;
}

.todo-content {
    display: grid;
    grid-template-columns: auto 4fr 2fr 1fr 20px 20px;
    gap: 1%;

    align-items: center;
    height: 50px;
    padding: 0 4%;
}

.todo-desc {
    border-top: 1px solid black;
    margin: 0 4%;
}

.todo-form-desc {
    border-top: 1px solid black;
    margin: 0 4%;
}

.todo-form-desc-area {
    resize: vertical;
    box-sizing: border-box;

    margin: 16px 0;
    width: 100%;
    min-height: 22px;
}


.hidden {
    display: none;
}